.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030303;
    }
    
.footer p {
    align-self: center;
    color: #ffffff;
    padding: 1em;
}