header.header {
    background: url('../img/background-spider.jpg') center;
    position: relative;
    color: #ffffff;
}

header.header::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

header.header .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    position: relative;
    z-index: 10;
}