.page {
    margin: 1em auto;
    width: 100%;
}

.blog {
    width: 100%;
    overflow: auto;
}

.blog .main {
    float: left;
    width: 100%;
}

.blog .other {
    float: right;
}

.blog .other ul {
    list-style: none;
    padding: 0;
}

.blog .other ul li {
    margin: 1em 0;
    border-top: 1px solid #ccc;
}

.blog .main .headline h3 {
    margin-top: 1em;
    font-size: 1.66em;
}

.blog .main .headline h1 {
    font-size: 1.88em;
}

.blog .main .author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    margin: 1em 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.blog .main .author .name {
    font-weight: 900;
}

.blog .main .author .icons {
    font-size: 16px;
}

.blog .main .article .image {
    width: 100%;
    height: auto;
}

.blog .main p {
    padding-bottom: 1em;
}