body {
	font: normal normal bold 1.5em "Lucida Sans Unicode";
	margin: 0;
	padding: 0;
	width: 100%;
}

.container-calc {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: center;
	width: 20%;
	margin: 2em;
}

.visor {
	align-self: center;
	width: 100%;
}

.line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
}

button {
	background-color: #67d07c;
	border: 0;
	font: normal normal bold 0.6em "Lucida Sans Unicode";
	padding: 0 0em;
	margin: 0.2em;
	width: 3em;
}

#button-0 {
	width: 64%;
}

#button-equal {
	height: 100%;
}

input {
	width: 100%;
	border: 2px solid #3bbf55;
	font: normal normal bold 1em "Lucida Sans Unicode";
	text-align: right;
}

button:hover {
	background-color: #3bbf55;
	color: white;
	cursor: pointer;
}

button:active {
	background-color: #2f9844;
}

button:focus, input:focus {
	outline:none;
}