@import url('./header.css');
@import url('./banner.css');
@import url('./portfolio.css');
@import url('./about.css');
@import url('./contactme.css');
@import url('./maisinf.css');
@import url('./footer.css');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container-traco {
    display: flex;
    justify-content: center;
    align-items: center;
}

.traco-B {
    display: inline-flex;
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    margin: 5px;
}

.traco-P {
    display: inline-flex;
    width: 50px;
    height: 2px;
    background-color: #000000;
    margin: 5px;
}
