.mais-inf {
    background-color: rgb(44, 62, 88);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 10%;

}